html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #B96D40;
}

header {
  background-color: #A4D4B4;;
  color: #3B1C32;
  border: .5rem solid #3B1C32;
  border-radius: 20pt;
  padding: 2%;
  text-align: center;
  margin: 1% 1%;
}

section {
  background-color: #FFCF9C;
  color: #3B1C32;
  border: .5rem solid #3B1C32;
  border-radius: 20pt;
  margin: 1% 1%;
  padding: 2%;
  width: 65%;
  float: left;
}

aside {
  background-color: #FFCF9C;
  border: .5rem solid #3B1C32;
  border-radius: 20pt;
  margin: 1% 1%;
  padding: 2%;
  width: 20%;
  position: relative;
  float: right;
}

.pointer {
  cursor: pointer;
}

#video-button {
  margin: auto auto;
  border: .5rem solid #3B1C32;
  height: 40%;
  width: 60%;
  border-radius: 10%/40%;
  font-size: 30pt;
}

#watch-video img {
  float: right;
}
